
body {
  background: rgb(21,14,42);
  background: linear-gradient(0deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%);
  animation: bg 3s ease infinite;
  animation-fill-mode: both;
}

@keyframes bg {
  0% {background: linear-gradient(0deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  1.5% {background: linear-gradient(5deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  3% {background: linear-gradient(10deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  4.5% {background: linear-gradient(15deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  6% {background: linear-gradient(20deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  7.5% {background: linear-gradient(25deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  9% {background: linear-gradient(30deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  10.5% {background: linear-gradient(35deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  12% {background: linear-gradient(40deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  13.5% {background: linear-gradient(45deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  15% {background: linear-gradient(50deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  16.5% {background: linear-gradient(55deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  18% {background: linear-gradient(60deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  19.5% {background: linear-gradient(65deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  21% {background: linear-gradient(70deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  22.5% {background: linear-gradient(75deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  24% {background: linear-gradient(80deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  25.5% {background: linear-gradient(85deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  27% {background: linear-gradient(90deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  28.5% {background: linear-gradient(95deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  30% {background: linear-gradient(100deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  31.5% {background: linear-gradient(105deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  33% {background: linear-gradient(110deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  34.5% {background: linear-gradient(115deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  37.5% {background: linear-gradient(120deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  39% {background: linear-gradient(125deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  40.5% {background: linear-gradient(130deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  42% {background: linear-gradient(135deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  43.5% {background: linear-gradient(140deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  45% {background: linear-gradient(145deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  46.5% {background: linear-gradient(150deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  48% {background: linear-gradient(155deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  49.5% {background: linear-gradient(160deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  51% {background: linear-gradient(165deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  52.5% {background: linear-gradient(170deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  54% {background: linear-gradient(175deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  55.5% {background: linear-gradient(180deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  57% {background: linear-gradient(185deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  58.5% {background: linear-gradient(190deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  60% {background: linear-gradient(195deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  61.5% {background: linear-gradient(200deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  63% {background: linear-gradient(205deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  64.5% {background: linear-gradient(210deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  66% {background: linear-gradient(215deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  67.5% {background: linear-gradient(220deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  69% {background: linear-gradient(225deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  70.5% {background: linear-gradient(230deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  72% {background: linear-gradient(235deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  73.5% {background: linear-gradient(240deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  75% {background: linear-gradient(245deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  76.5% {background: linear-gradient(250deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  78% {background: linear-gradient(255deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  79.5% {background: linear-gradient(260deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  81% {background: linear-gradient(265deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  82.5% {background: linear-gradient(270deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  84% {background: linear-gradient(275deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  85.5% {background: linear-gradient(280deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  87% {background: linear-gradient(285deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  88.5% {background: linear-gradient(290deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  89% {background: linear-gradient(295deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  90% {background: linear-gradient(300deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  91% {background: linear-gradient(305deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  92% {background: linear-gradient(310deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  93% {background: linear-gradient(315deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  94% {background: linear-gradient(320deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  95% {background: linear-gradient(325deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  96% {background: linear-gradient(330deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  97% {background: linear-gradient(335deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  98% {background: linear-gradient(340deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  99% {background: linear-gradient(345deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  99.25% {background: linear-gradient(350deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  99.5% {background: linear-gradient(355deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
  100% {background: linear-gradient(360deg, rgba(21,14,42,1) 0%, rgba(67,55,103,1) 49%, rgba(122,104,176,1) 100%)};
}